@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-inter: "Inter", "sans-serif";

  --color-darkOrange: #f97316;
  --color-dodgerblue: #3b82f6;
  --color-bluishBlack: #0f172a;
  --color-surfaceDark: #1e293b;
  --color-whitesmoke: #f9fafb;
  --color-softWhite: #e2e8f0;
  --color-darkslategray: #334155;
  --color-darkslategray2: #17344f;
}

@layer base {
  p {
    @apply text-base md:text-lg font-inter;
  }

  h2 {
    @apply text-5xl font-medium;
  }

  .brackets {
    @apply text-5xl text-dodgerblue font-medium;
  }

  .btn-primary {
    @apply bg-dodgerblue px-4 py-1.5 mt-9 rounded-lg text-whitesmoke text-lg font-medium;
  }
}
